@use './dashboard';
@use './view';

@import "./mixins";

#Grio {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}
