{% extends 'base.html' %}{% load i18n %}

<style type="text/css">
{% block css %}
{% spaceless %}

{{ block.super }}

{% endspaceless %}
{% endblock css %}
</style>

{% block meta %}{{ block.super }}
    {% include "meta.html" %}
{% endblock meta %}

{% block body %}
<div class="miq-public">
    <header class="miq-public-header" id="PublicHeader">{% block header %}{% endblock header %}</header>

    <main class="miq-public-body" id="PublicBody" role="main">{% block main %}{% endblock main %}</main>

    {{ block.super }}
    
    <footer class="miq-public-footer" id="PublicFooter">{% block footer %}{% endblock footer %}</footer>
</div>
{% endblock body %}
